.Cambios-page {
  .column-tasas {
    border: 3px solid rgb(236, 242, 246);
    border-radius: 5px;
  }

  .card-convertidor {
    box-shadow: 1px 1px 3px rgb(147, 87, 206);
  }

  .card-tasa {
    box-shadow: 1px 1px 3px rgb(147, 87, 206);
    width: 150px;
    cursor: pointer;

    transform: scale(1);
    transition: all 500ms;

  }

  .card-tasa:hover {
    transform: scale(1.1);
  }

  #selectBankTitle {
    color: #666;
  }

  .crown-icon {
    z-index: 1000;
    top: 5px;
    left: 5px;
    position: absolute;
  }
}
