.chat-page {
  .rce-mbox {
    background-color: #b29bbd !important;
  }

  .rce-mbox-left-notch {
    fill:#b29bbd !important;
  }

  .rce-mbox-right {
    background-color: rgb(235, 230, 235) !important;
    color: black;
  }

  .rce-mbox-right-notch {
    fill:rgb(235, 230, 235);
  }
}
  //banner de chat
  .rce-citem{ 
    background-color: #6a208c !important;
    color: white;
  }
  .rce-citem-body--top-time{
    color: white;

  }

  .rce-citem-body--bottom-title{
    color: white;
  }