.Menu-page {
  .navbar-light .navbar-nav .nav-link {
    /* color:#ffb703; */
    color: white;
    // font-size: 25px;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    // font-size: 25px;
  }

  .btn-outline-info {
    color: #6a208c;
    border-color: #6a208c;
  }

  .btn-outline-info:hover {
    color: #fff;
    background-color: #6a208c;
    border-color: #6a208c;
  }
  .btn:hover {
    color: white;
    text-decoration: none;
  }

  .bg-menu {
    background-color: #6a208c !important;
  }

  .nav-link.active {
    color: #ffb703 !important;
    font-weight: bold;
  }

  .navbar-brand img {
    margin-left: 100px;
  }
  .navbar-brand {
    font-size: 18px;
    font-weight: 500 !important;
  }
  .navbar{
    background-color: red;
  }
  
}
