.Menu-page {
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
  }

  .nav-link.active {
    color: #ffb703 !important;
  }

  .navbar-brand img {
    margin-left: 100px;
  }
  .navbar-brand {
    font-size: 18px;
    font-weight: 500 !important;
  }

  
}
