$theme-colors: (
    "primary": #6a208c,
    "secondary":#ffb703 ,
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1400px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1340px
);

@import "~bootstrap/scss/bootstrap";

body {
    position: relative;
}